
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> </head>
<body>
<h3>Blog Manager</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table border="1">
    <!--<thead>-->
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <!--</thead>-->
    <tbody>
    <th:block th:each=" blog: ${blogs}">
        <tr>
            <td th:text="${blog.getId()}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">edit</a></td>
            <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}">delete</a></td>
            <td><a th:href="@{/blog/{id}/view(id=${blog.getId()})}">view</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<!--<footer th:replace="layout :: footer"></footer>-->
</body>
</html>
